<div class="container">
    <div class="row">
        
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        
        <div class="col-md-9">
            
            <div class="row">
                <div class="col-md-12">
                    <h1>This is just a check</h1>
                   
                    <ol class="breadcrumb" >
                        <li><a href="/home">Home &nbsp;</a></li>
                        <li class="active">/ {{categoryName}}</li>
                    </ol>
                </div>

            </div>

            <div class="row">
                
                <div class="col-md-12">
                    <table class="table table-hover table-bordered table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col"> Qty. Available</th>
                                <th scope="col">description</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>

                            </tr>
                        </thead>
                        <tbody    *ngFor="let iterate of products">
                            <tr>
                                <td>{{iterate.id}}</td>
                                <td>{{iterate.name}}</td>
                                <td>{{iterate.unitPrice}}</td>
                                <td>{{iterate.quantity}}</td>
                                <td>{{iterate.description}} </td>
                                <td><img src="assets/{{iterate.name}}.jpg" style="height : 100px ; width : 200px"/></td>
                                <td><button class="btn btn-success"> Update</button> </td>
                                <td><button class="btn btn-danger"> Delete</button> </td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>

            </div>

        </div>
    </div>

</div>



<!-- <div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let product"> {{product.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> E-Mail </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.phone}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.company.name}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div> -->