<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h2 class="card-title text-center"><b>Register</b></h2>
                        <p>Please fill in this form to create an account.</p>
                        <form style="border:1px solid #ccc">
                            <div class="container">

                                <label for="fname"><b>Firstname</b></label>
                                <input type="text" placeholder="Enter Firstname" name="fname" required>

                                <label for="lname"><b>Lastname</b></label>
                                <input type="text" placeholder="Enter Lastname" name="lname" required>
                                
                                <label for="uname"><b>Username</b></label>
                                <input type="text" placeholder="Enter Username" name="uname" required>
                                
                                <label for="email"><b>Email</b></label>
                                <input type="text" placeholder="Enter Email" name="email" required>

                                <label for="psw"><b>Password</b></label>
                                <input type="password" placeholder="Enter Password" name="psw" required>

                                <label for="psw-repeat"><b>Repeat Password</b></label>
                                <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

                                <label for="Gender"><b>Gender</b></label> &nbsp;&nbsp;
                                <input type="radio" name="gender" value="Male" checked >Male &nbsp;&nbsp;
                                <input type="radio" name="gender" value="Female">Female    

                                <br/>
                                <label>
                                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px">
                                    Remember me
                                </label>

                                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms &
                                        Privacy</a>.</p>

                                <div class="clearfix">
                                    <button type="submit" class="signupbtn">Sign Up</button>
                                </div>
                                <p>Already a Member ? <a href="#" style="color:dodgerblue">Login</a>.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>