<h1 class="my-4">Shop Name</h1>
<!-- Not Able to do So have to look later -->
<div class="list-group">


    <!-- <a href="/show/category/{{category.id}}/products" class="list-group-item" ><i ><li (click)="userClickCategoryProducts(category.name)"> {{category.name}}</li></i></a> -->
    <!-- <a [routerLink]="['/show/category/',category.id,'products']" routerLinkActive="active" class="list-group-item" (click)="userClickCategoryProducts(category.name)"> {{category.name}} </a>  -->
    <!-- <a href="#" class="list-group-item">Test 1</a>
    <a href="#" class="list-group-item">Category 2</a>
    <a href="#" class="list-group-item">Category 3</a> -->

    <a [routerLink]="['/customer']" routerLinkActive="router-link-active" class="list-group-item">Customer</a>
    <a [routerLink]="['/supplier']" routerLinkActive="router-link-active" class="list-group-item">Supplier</a>
    <a [routerLink]="['/debtor']" routerLinkActive="router-link-active" class="list-group-item">Debtor</a>
    
</div>